$font-stack: 'Roboto', sans-serif;
$primary-color: #515151;

// media query
$xsmall: 600px;
$small: 767px;
$medium: 992px;
$large: 1024px;
$xlarge: 1199px;
$max-width: 1440px;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

//import scss_component
@import 'scss-components/intro.scss';

html {
  box-sizing: border-box;
  font-family: $font-stack;
  color: $primary-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-color;
}

button-reset {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
